<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
    width:100%;
}
body {margin:0; font-family: 'ABeeZee'}

.blog-head {
  float:right;
  padding:16px;
}

.topnav {
  padding:8px;
  overflow: hidden;
  background-color: #444;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav a.logout {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 14px 16px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.2s;
}

.topnav a.logout:hover {
  opacity: 1;
}

.main::after {
    content: "";
    clear: both;
    display: table;
}

/* site 2 */
.blog-text-site2 {
  padding: 16px;
  width:95%;
  border-color: gray;
  border-style: dotted;
  float:left;
  font-size:medium;
  margin:20px;
}

.text-container {
   text-align: center;
}

img.img-container {
   float:left;
   width:18%;
   border-color:gray;
   border-style:dotted;
   border-color:#444;
   border-style:solid;
   border-width:18px;
   margin:6px;
}

.select {
  padding:16px;
  overflow:hidden;
  background-color:#444;
  width:84px;
  float:right;
  text-align:center;
}

.select a {
  color:#f2f2f2;
  text-decoration:none;
  font-size:17px;
  padding:8px;
}

.select a:hover {
  background-color: #ddd;
  color:black;
}

.select a.active {
  background-color: #4CAF50;
  color:white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color:#aaaaaa;
    float:right;
    font-size:18px;
    padding:10px;
}

/* The Save Button */
.save {
    color:#aaaaaa;
    float:right;
    font-size:18px;
    padding:10px;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor:pointer;
}
.save:hover,
.save:focus {
    color: #000;
    text-decoration: none;
    cursor:pointer;
}


textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.textarea_text {
    width: 100%;
    height: 350px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.header_text {
}


</head>
</style>
<body>
<div class="main">
  <div class="blog-head">
    <h2>Welcome <%= fullname %></h2>
    Last login <%= lastlogin %>
  </div>
</div>

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a class="logout" href="/logout">Logout</a>
</div>

<div class="blog-text-site2">
  <div class="blog-text-site2">
    <h2>Some nice header here</h2>
    <div class=select>
       <button id="btn-header">Edit</button>
       <!-- The Modal -->
       <div id="modal-header" class="modal">
         <!-- Modal content -->
         <div class="modal-content">
            <span class="close">close</span>
            <span class="save">save</span>
            <div id="header_text">
               <textarea id="tittle_textarea" onclick="cleanupMessage();">Some text...</textarea>
            </div> 
	    <div id="save_id"></div>
         </div>
       </div>
    </div>
  </div>
  <div class="text-container">
      <a href="#"><img class="img-container" src="images/img_avatar.png"></a>
   </div>
    <h2>Please edit the article text here</h2>
    Lorem ipsum dolor sit amet, quis noster corpora quo at, cum an dicit offendit principes, ei probo mucius adolescens sed. No oblique feugiat vim, adhuc laboramus reformidans nam ne. Pri definiebas complectitur eu, facilis tacimates mediocrem ei eum. Vel quaeque denique ut, id nec alia eirmod omittantur. Ei nec petentium scribentur. Cu his fabellas maiestatis philosophia, agam recusabo et pri, no nec tale erroribus inciderint. Vix an accusam eloquentiam necessitatibus, ridens alterum intellegam id sit. Iusto dolorem civibus in sea. An pro quidam legimus maiestatis. Eam affert tation torquatos ex, pri velit causae saperet eu. No verterem tractatos scripserit ius.
Duo at alia ocurreret torquatos, alia repudiare eu eum. In sit legere ridens fabulas, appetere efficiantur eum an, nihil torquatos concludaturque an mel. In idque eloquentiam nam. In sea dictas fabulas accumsan.Lorem ipsum dolor sit amet, quis noster corpora quo at, cum an dicit offendit principes, ei probo mucius adolescens sed.
  <div class=select>
    <button id="btn-text">Edit</button>
    <!-- The Modal -->
    <div id="modal-text" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
         <span class="close">close</span>
         <span class="save">save</span>
         <div id="text_text">
            <textarea class="textarea_text" id="text_textarea">Some text...</textarea>
         </div>
      </div>
    </div>
  </div>
</div>

<script>
// Get the modal
var modal_header = document.getElementById('modal-header');
var modal_text = document.getElementById('modal-text');
// Get the button that opens the modal
var btn_header = document.getElementById("btn-header");
var btn_text = document.getElementById("btn-text");
// Get the <span> element that closes the modal
var span_header_close = document.getElementsByClassName("close")[0];
var span_header_save = document.getElementsByClassName("save")[0];
var span_text_close = document.getElementsByClassName("close")[1];
var span_text_save = document.getElementsByClassName("save")[1];

function cleanupMessage() {
   document.getElementById("save_id").innerHTML = "";
}

// When the user clicks the button, open the modal 
btn_header.onclick = function() {
    modal_header.style.display = "block";
}
btn_text.onclick = function() {
    modal_text.style.display = "block";
}

//When the user clicks on "save", save the modal
span_header_save.onclick = function() {
   var xhttp = new XMLHttpRequest();
   xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
         var response=this.responseText;
         if (response == 'MESSAGE_SAVED:OK') {
            document.getElementById("save_id").innerHTML =
            "Tittle saved"; 
         }
	 else {
            document.getElementById("header_text").innerHTML =
            "Ups...,the header could not be saved.";
         }
      }
   };
   xhttp.open("POST", "http://192.168.1.78:8081/edit_header", true);
   xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
   xhttp.send("tittle="+document.getElementById("tittle_textarea").value);
}

//actions on close button
span_header_close.onclick = function() {
   modal_header.style.display = "none";
}
span_text_close.onclick = function() {
   modal_text.style.display = "none";
}


// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal_header) {
        modal_header.style.display = "none";
    }
    if (event.target == modal_text) {
        modal_text.style.display = "none";
    }
}
</script>
</body>
</html>

